*{
    margin:0; 
    padding:0; 
}

header{
    
    height: 6.5rem;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-top: 8px;
    display: flexbox;
    align-items: center;
    background-image: url(./images/plate1.jpg);
    opacity: 0.8;
    align-content: flex-start;
      
    
}

.rectangles{
    width: 4rem;
    height: 2rem;
    display: inline-flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 12px;
   
} 

.orange, .ultramarine, .olive{
    
    min-width: 15px;
	min-height: 15px;


}

.mosaic{
    flex-direction: row;
    padding: 6px 24px;
    background-color:white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}



h1{
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    color: #ffffff ;
    padding-top: 0.5rem;
    font-family: 'Roboto', 'Open Sans', 'Helvetica', Arial, sans-serif;
    line-height: 3rem;
     
   }

h2{
    font-size: 1.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: lighter;
        flex-wrap: wrap;
    font-weight: inherit;
    text-align: center;
    line-height: 2rem;
    color: #fafafa;
    padding-bottom: 0.5rem;
   
}

h3{
    font-size: 1.5rem;
    flex-wrap: wrap;
    font-weight: inherit;
    text-align: left;
    line-height: 2.7rem;
    color: #383830;
    font-weight: lighter;
   
   
}





.informationmain{
    
    font-family: 'Droid Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: bold;
    color: rgba(30,30,30,0.8);
    background-color:white ;
    display: inline-flex;
    padding: 12px 24px;
    
   }
a{
    color: white;
    font-weight: normal;
    text-decoration: none;
 
  margin-right: 60%;
    padding-bottom: 0.5rem;
    padding-top: 0.1rem;
    padding-left: 0.1rem;
}
h1 a{
margin: 0;
padding: 0;
}

   a:hover {
    text-decoration: underline; 
    color: rgb(82, 105, 85); /* Цвет ссылки при наведении на нее курсора мыши */  
    /*background: rgba(125, 137, 241, 0.9); /* Цвет фона */
    cursor: pointer;}
    
    h1  a:hover {
    text-decoration: none; 
    color:white; /* Цвет ссылки при наведении на нее курсора мыши */  
    /*background: rgba(125, 137, 241, 0.9); /* Цвет фона */
	cursor: pointer;}
.informationmain h1{
    font-size: 1.5rem;
    font-weight: inherit;
    text-align: left;
    margin-top: 32px;
    margin-bottom: 24px;
    line-height: none;
    line-height: 0.8rem;
    padding-left: 24px;
     
}
.instruction p, li{
    font-size: 1.1rem;
    font-weight: normal;
    color: rgb(100, 109, 89);
    padding-left: 24px;
    font-family: 'Droid Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
 
    
}
.instruction li{
    font-size: 1.1rem;
    font-weight: normal;
    color: #383830;
    padding-left: 12px;
    font-family: 'Droid Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-style: italic;
    
}
ul{
    margin-left: 24px;
    padding-left: 12px;
    color: #383830;
    font-family: 'Droid Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}
.leftpart{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    width: 50%;
   margin-right: 24px;
   justify-content: center;
  

}
.leftpart img{
        object-fit: contain;
        image-rendering: crisp-edges;
        max-width: 100%;
        max-height: 100%;
        
}
   

   
  .leftpart img:hover {
    -webkit-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    box-shadow: 1px 15px 15px -5px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.1); 
    border-radius: 1px;
  }
   
 
   
.rightpart{
  display: flex;
 width: 50%;
 flex-direction: column;
 align-content: flex-start;
 margin-left: 12px;

}
.subtask{
    display: flex;
    transition: backround-color 1s linear 1s;
    flex-direction: row;
    align-items: center;

    
}
.description:hover {
background-color:rgba(231, 232, 238, 0.5);
 cursor: pointer;}

.subtask img{
    width: 8%;
    height: auto;
    margin: 10px;
    
}
.description{
    width: 80%;
 display: flex;
 flex-direction: column;
 transition-property: background-color;
 transition-duration: 0.3s;
 transition-timing-function: step-start;
 transition-delay: 0.1s;
 
}
.external {
    padding-bottom: 0;
    margin-right: 0%;
    text-decoration: none;
}
.external:hover {
    color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */  
    background-color: transparent; /* Цвет фона */
    cursor: pointer;
text-decoration: none;}
    
.description p{
    padding-top: 3rem;
    padding-right: 16px;
    font-weight: lighter;
    font-family: 'Droid Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
}

.instruction{
  
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
margin-bottom: 24px;
}

.one .Name{
   color: #383830; 
   font-size: 3rem; 
   margin-right: 1rem;
   font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.one .Text{
    color: #383830; 
    padding-right: 60px; 
    font-size: 1.5rem; 
    line-height: 2.3rem;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.one{
    width: 50%;
    margin-right: 24px;
}


   footer{
       height: 4rem;
       background-color: white;
       width: 100%;
       margin-left: 48px;
       margin-right: 48px;
       display: flex;
       flex-flow: raw;
       justify-content: space-between;
     
       
color:#383830;
font-family:'Droid Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;

font-size: 0.9rem;
align-items: center;
       
       
   }
   footer p{
       margin-left: 24px ;
       margin-right: 24px;
   }
   footer a:hover{
    background-color: transparent; 
  
    color: #383830(192, 56, 56);
   }
   .video{
    display:inline-flex;
    justify-content: space-between;
    border: 1px solid rgb(231, 227, 227);
    width: 100%;
    height:300px;
    overflow:hidden;
  margin-bottom: 60px;
  overflow: auto;
    }

    .Lang
    {margin-right: 60px;
     display: flex; 
     flex-direction: row-reverse;}
   .Langru{
    font-size: 1rem;
  line-height: 0;

    color:#383830(192, 56, 56);
    font-weight: bold;
    
        
    }
  .Langen{
        font-size: 1rem;
        line-height: 0;

  
        color: #383830(192, 56, 56);
        font-weight: bold;
       
            
        }
        .Langen:hover {
            /* Цвет фона */
            cursor: pointer;
        text-decoration: underline;
    }
        .Langru:hover {
            /* Цвет фона */
            cursor: pointer;
        text-decoration: underline;}


iframe{
    max-width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    
    
}
.one span{
    font-size: 2rem;
 }
 .one{
    width: 51%;
}
.two{
    width: 49%;
}
@media only screen and (max-width: 720px){
    header {height: 4rem;
        width: 100%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    align-items: flex-start;
    
   
  }
    h1{
        font-size: 1.2em;            
        font-family: 'Roboto', 'Open Sans', 'Helvetica', Arial, sans-serif;
        line-height: 1.5rem;
        padding-bottom: 0.4rem;
      
         
       }
       h2{
        visibility: hidden;
       
    }
    h3{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .rectangles{
        width: 2rem;
        height: 1rem;
       margin-top: 2px;
       
    } 
    
    .orange, .ultramarine, .olive{
        min-width: 10px;
        min-height: 10px;
        justify-content: space-between;
        
    
    
    }
    
    .mosaic{
        padding: 3px 12px;
      
    }
    .video{
        display:inline-flex;
        justify-content: space-around;
        border: 1px solid rgb(231, 227, 227);
        width: 100%;
        height:300px;
        
      margin-bottom: 60px;
     
        }
        .leftpart{
           
            display: inline;
           
            width: 100%;
           margin-left: 2%;
           justify-content: left;
           align-items: flex-start;
          
        
        }
        .one span{
           font-size: 1.5rem;
           font-weight: bold;
        }

        .description a{
            visibility: hidden;
            font-size: 0.2rem;
        }
        .description h3{
            visibility: visible;
            font-size: 1rem;
            font-weight: bold;
            margin-top: 2px;
            
            
        }
        .subtask img{
            width: 20%;
            height: auto;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 2px;
            margin-right: 2px;
        }
        .subtask{
            flex-flow: column wrap;
            width: 100%;
            
        }
        .description{
            height: 1.3rem;
           
            padding: 0;
            margin: 2px;
            justify-content: center;
            align-items: center;
            width: 35%;
        }
        .two li{
            font-size: 1rem;
        }
        .instruction p{
            font-size: 1rem;
        }
        .informationmain{
            flex-flow: column wrap;
        }
        .rightpart{
            width: 100%;
        }
    .instruction{
        flex-flow: column wrap;
        width: 100%;
    }
    .one{
        width: 100%;
    }
    .two{
        width: 100%;
        
    }
    .description:hover {
        background-color:rgba(231, 232, 238, 0.5);
         cursor: pointer;
        width: 35%;
    }
    footer{
        font-size: 0.8rem;
        flex-direction: column;
        margin: 0 auto;
        
    }
    footer p
    {
        font-size: 0.8rem;
        
    }
    footer img{
        width: 30%;
        height: auto;
        display: flexbox;
    }
    .one .Name{
        color: #383830; 
        font-size: 1.5rem; 
        font-family: 'Source Sans Pro', Helvetica, sans-serif;
     }
     
     .one .Text{
         color: #383830;       
         font-size: 1rem; 
         line-height: 2rem;
         font-family: 'Source Sans Pro', Helvetica, sans-serif;
         box-align: justify;
         font-weight: lighter;
         
     }
     .instruction .one{
         width: 90%;
     }
.Lang{
    margin: 0;
    padding: 0;
}
     .Langen{
         font-size: 00.8rem;
         margin: 0;
         padding: 10px 2px;
     }
     .Langru
     {
         font-size: 00.8rem;
         margin: 0;
         padding: 10px 2px;
     }

    
}
@media only screen and (max-width: 1600px){
    header {height: 4rem;
        width: 100%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    align-items: flex-start;
    
   
  }
    h1{
        font-size: 1.2em;            
        font-family: 'Roboto', 'Open Sans', 'Helvetica', Arial, sans-serif;
        line-height: 1.5rem;
        padding-bottom: 0.4rem;
      
         
       }
       h2{
        font-size: 0.8rem;
        line-height: 0.8rem;

    }
    h3{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .Langen {
        font-size: 00.8rem;
    }

    .Langru
    {
        font-size: 00.8rem;
    }
    footer p
    {
        font-size: 0.8rem;
        
    }
}
@media only screen and (max-width: 400px){
    header {height: 4rem;
        width: 100%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    align-items: flex-start;
    
   
  }
    h1{
        font-size: 2em;            
        font-family: 'Roboto', 'Open Sans', 'Helvetica', Arial, sans-serif;
        line-height: 2rem;
        padding-bottom: 0.4rem;
      
         
       }
       h2{
        visibility: hidden;
       
    }
    h3{
        font-size: 2rem;
        line-height: 2rem;
    }
	    p, span, nav{
        font-size: 2rem;
        line-height: 2rem;
	}
}
